<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eTickets</title>
    <link href="">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

</head>
<body>
    <header>
        <a href="#" class="logo">
            <i class="bx bxs-movie"></i>eTickets
        </a>
        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="#home" class="home-active">Home</a></li>
            <li><a href="#home">Movies</a></li>
            <li><a href="#home">Actors</a></li>
            <li><a href="#home">Producers</a></li>
            <li><a href="#home">Cinemas</a></li>
        </ul>
    </header>
    <!--Home-->
    <section class="home swiper" id="home" >
            <div class="swiper-wrapper">
                <div class="swiper-slide conatiner">
                    <img src="img/Scoob.png">
                    <div class="home-text">
                        <span>Scoob</span>
                        <h1>Venom: Let There <br>  Be Carnage</h1>
                        <a href="#" class="btn">Book Now</a>
                        <a href="#" class="play">
                            <i class="bx bx-play"></i>

                        </a>
                    </div>
                </div>
                <!--Box 2-->
                <div class="swiper-slide conatiner">
                    <img src="img/Race.png">
                    <div class="home-text">
                        <span>Race</span>
                        <h1>Venom: Let There <br>  Be Carnage</h1>
                        <a href="#" class="btn">Book Now</a>
                        <a href="#" class="play">
                            <i class="bx bx-play"></i>

                        </a>
                    </div>
                </div>
                <!--Box 3-->
                <div class="swiper-slide conatiner">
                    <img src="img/Ghost.png">
                    <div class="home-text">
                        <span>Ghost</span>
                        <h1>Venom: Let There <br>  Be Carnage</h1>
                        <a href="#" class="btn">Book Now</a>
                        <a href="#" class="play">
                            <i class="bx bx-play"></i>

                        </a>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination"></div>
    </section>


    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!--Link to Custom JS-->
    <script src="../js/main.js"></script>

</body>
</html>